<% include partials/header %>
<div style="margin-top: 10%;" class="text-center">
    <h1 >Welcome To SocialMedia</h1>

    <!-- <p>Welcome to social media</p> -->

    <a class="btn btn-outline-primary" href="/posts"> View all posts</a>
</div>

<% include partials/footer %>